<style>
  .product-grid-image {
    img {
      border-radius: 30px;
    }
  }
</style>

<div
  class="product-grid-item"
  id="product-grid-item-7262542626909"
  data-productid="7262542626909"
  data-testid="7262542626909"
>
  <div class="product-grid-item-content">
    <div class="product-grid-image-wrapper">
      <a href="/products/mouth-tape" class="product-grid-image relative">
        <img
          id="product-image-7262542626909"
          src="//shopskinnyconfidential.com/cdn/shop/files/Classic_-_1.jpg?crop=center&amp;format=webp&amp;height=350&amp;v=1758259864&amp;width=350"
          srcset="
            //shopskinnyconfidential.com/cdn/shop/files/Classic_-_1.jpg?crop=center&amp;format=webp&amp;height=350&amp;v=1758259864&amp;width=350 350w,
            //shopskinnyconfidential.com/cdn/shop/files/Classic_-_1.jpg?crop=center&amp;format=webp&amp;height=768&amp;v=1758259864&amp;width=768 768w,
            //shopskinnyconfidential.com/cdn/shop/files/Classic_-_1.jpg?crop=center&amp;format=webp&amp;height=1024&amp;v=1758259864&amp;width=1024 1024w
          "
          sizes="(max-width: 768px) 350px, 1024px"
          alt="Mouth Tape"
          title="Mouth Tape"
          width="auto"
          height="auto"
          loading="eager"
          class="product-grid-first-image"
        >
        <img
          class="lazy product-grid-secondary-image"
          src="//shopskinnyconfidential.com/cdn/shop/files/Classic_-_2.jpg?crop=center&amp;format=webp&amp;height=350&amp;v=1758259937&amp;width=350"
          srcset="
            //shopskinnyconfidential.com/cdn/shop/files/Classic_-_2.jpg?crop=center&amp;format=webp&amp;height=350&amp;v=1758259937&amp;width=350 350w,
            //shopskinnyconfidential.com/cdn/shop/files/Classic_-_2.jpg?crop=center&amp;format=webp&amp;height=768&amp;v=1758259937&amp;width=768 768w,
            //shopskinnyconfidential.com/cdn/shop/files/Classic_-_2.jpg?crop=center&amp;format=webp&amp;height=1024&amp;v=1758259937&amp;width=1024 1024w
          "
          sizes="(max-width: 768px) 350px, 1024px"
          alt="Mouth Tape"
          title="Mouth Tape"
          width="auto"
          height="auto"
          loading="lazy"
        >
      </a>

      <div class="product-badges absolute top-4 left-4">
        <div class="badge-text rounded-full px-4 py-2" style="background: #1B365D;color:#FFFDF1;">Best Seller</div>
      </div>
    </div>

    <div class="product-grid-text-wrapper">
      <div class="bottom-section-wrapper">
        <div>
          <div class="product-grid-reviews "></div>
          <div>
            <p class="product-grid-name tex-base font-bold md:text-xl ">
              <a href="/products/mouth-tape" class="h4 product-grid-link product-title"> Mouth Tape </a>
            </p>
          </div>
          <div class="product-grid-description-text">
            Strengthen your jaw line while getting the deepest sleep of your life.
          </div>
        </div>

        <div class="product-grid-bottom-section mobile">
          <product-form>
            <div class="atc-icon">
              <button class="add-to-cart-button-line text-sm md:text-base">Add to cart</button>
            </div>
          </product-form>
        </div>
      </div>
    </div>
  </div>
</div>
