<div class="custom-code-text relative py-4">
  <div class="container bg-[var(--bg-second)] mx-auto px-6 py-8 rounded-xl">
    <div class="flex items-center gap-6">
      <p class="custom-paragraph">
        Clean beauty and wellness essentials that actually work.
        <span class="inline-images"
          ><img
            src="https://shopskinnyconfidential.com/cdn/shop/files/Mouth_Tape_Banner_aa6a5b67-d560-4a57-8b11-2928a77367e6.png?v=1752255179"
            style="zoom: 1.00552;"
            role="presentation"
          ><img
            src="https://shopskinnyconfidential.com/cdn/shop/files/Mouth_Tape_Banner_aa6a5b67-d560-4a57-8b11-2928a77367e6.png?v=1752255179"
            style="zoom: 1.00552;"
            role="presentation"
          ><img
            src="https://shopskinnyconfidential.com/cdn/shop/files/Mouth_Tape_Banner_aa6a5b67-d560-4a57-8b11-2928a77367e6.png?v=1752255179"
            style="zoom: 1.00552;"
            role="presentation"></span
        >Upgrade your daily routine with products that are elevated, intentional and gorgeous to look at.
      </p>
    </div>
  </div>
</div>
