{{ 'footer.css' | asset_url | stylesheet_tag }}
<footer class="footer" id="section-footer" role="presentation">
  <div class="footer-wrapper">
    <div class="footer-top-section">
      <div class="footer-logo_container">
        <img
          src="//shopskinnyconfidential.com/cdn/shop/files/Logo_Desktop.png?crop=center&amp;height=1024&amp;v=1732700450&amp;width=1024"
          alt="The Skinny Confidential Logo"
          loading="lazy"
          width="250"
          height=""
        >
      </div>
    </div>

    <div class="footer-middle-section">
      <div class="footer-middle-section-left">
        <div class="footer-newsletter-social-container">
          <div class="footer-newsletter">
            <h3 class="newsletter-heading" role="heading" aria-level="3">
              Sign up for the newsletter for product launches, discounts, self care tips, and more.
            </h3>

            <div class="klaviyo-form-TjU7Ur" data-acsb-hidden="true"></div>
          </div>

          <div class="social-container" role="navigation">
            <ul class="footer-list-social" role="list">
              <li class="social-item">
                <a
                  href="https://www.linkedin.com/company/the-skinny-confidential/"
                  class="social-link"
                  target="_blank"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  data-custom-button-processed="true"
                >
                  <svg
                    width="29"
                    height="33"
                    viewBox="0 0 29 33"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    data-acsb-hidden="true"
                    role="presentation"
                  >
                    <path d="M6.67432 32.0163H1.23444V10.2454H6.67432V32.0163ZM3.95438 7.7319C3.10556 7.7319 2.29151 7.36387 1.69131 6.70876C1.0911 6.05365 0.753914 5.16513 0.753914 4.23867C0.753914 3.31221 1.0911 2.42369 1.69131 1.76859C2.29151 1.11348 3.10556 0.745443 3.95438 0.745443C4.80319 0.745443 5.61724 1.11348 6.21745 1.76859C6.81765 2.42369 7.15484 3.31221 7.15484 4.23867C7.15484 5.16513 6.81765 6.05365 6.21745 6.70876C5.61724 7.36387 4.80319 7.7319 3.95438 7.7319ZM28.4338 32.0163H22.994V20.9329C22.994 14.2632 15.7408 14.7579 15.7408 20.9329V32.0163H10.3009V10.2454H15.7408V13.7288C16.5693 12.2692 17.8304 11.1631 19.3145 10.594C20.7987 10.025 22.4165 10.0273 23.8993 10.6007C25.382 11.1741 26.6404 12.2839 27.4653 13.7459C28.2902 15.2078 28.632 16.9338 28.4338 18.6371V32.0163Z" fill="#1B365D"></path>
                  </svg>
                  <span
                    style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0px !important; overflow: hidden !important; clip: rect(0px, 0px, 0px, 0px) !important; border: 0px !important;"
                    data-acsb-hidden="true"
                  >
                    | New Window</span
                  ></a
                >
              </li>
              <li class="social-item">
                <a
                  href="https://www.facebook.com/TheSkinnyConfidential"
                  class="social-link"
                  target="_blank"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  data-custom-button-processed="true"
                >
                  <svg
                    width="17"
                    height="34"
                    viewBox="0 0 17 34"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    data-acsb-hidden="true"
                    role="presentation"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9719 33.9647V16.9984H15.7898L16.4283 11.1518H10.9719L10.9801 8.22544C10.9801 6.70054 11.1291 5.88347 13.3822 5.88347H16.3942V0.0361328H11.5756C5.78762 0.0361328 3.75041 2.8724 3.75041 7.6421V11.1524H0.142578V16.9991H3.75041V33.9647H10.9719Z" fill="#1B365D"></path>
                  </svg>
                  <span
                    style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0px !important; overflow: hidden !important; clip: rect(0px, 0px, 0px, 0px) !important; border: 0px !important;"
                    data-acsb-hidden="true"
                  >
                    | New Window</span
                  ></a
                >
              </li>
              <li class="social-item">
                <a
                  href="https://www.instagram.com/theskinnyconfidential/"
                  class="social-link"
                  target="_blank"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  data-custom-button-processed="true"
                >
                  <svg
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    data-acsb-hidden="true"
                    role="presentation"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.93 0.0712891C10.8756 0.0712891 10.3668 0.0890167 8.77436 0.161483C7.18507 0.234259 6.10025 0.485868 5.15103 0.855039C4.16916 1.23634 3.33626 1.7464 2.50647 2.57649C1.67606 3.40627 1.166 4.23916 0.783447 5.22071C0.413339 6.17023 0.161417 7.25535 0.0898834 8.844C0.0186609 10.4364 0 10.9455 0 14.9999C0 19.0542 0.0180389 19.5615 0.0901944 21.1539C0.163283 22.7431 0.414894 23.8279 0.783758 24.7771C1.16537 25.759 1.67544 26.5919 2.50554 27.4217C3.33502 28.2521 4.16791 28.7634 5.14917 29.1447C6.09901 29.5139 7.18414 29.7655 8.77312 29.8382C10.3655 29.9107 10.874 29.9284 14.9281 29.9284C18.9828 29.9284 19.4901 29.9107 21.0825 29.8382C22.6718 29.7655 23.7578 29.5139 24.7077 29.1447C25.6892 28.7634 26.5209 28.2521 27.3504 27.4217C28.1808 26.5919 28.6908 25.759 29.0734 24.7775C29.4404 23.8279 29.6923 22.7428 29.7669 21.1542C29.8385 19.5618 29.8571 19.0542 29.8571 14.9999C29.8571 10.9455 29.8385 10.4367 29.7669 8.84431C29.6923 7.25504 29.4404 6.17023 29.0734 5.22102C28.6908 4.23916 28.1808 3.40627 27.3504 2.57649C26.52 1.74609 25.6895 1.23603 24.7067 0.855039C23.755 0.485868 22.6696 0.234259 21.0803 0.161483C19.4879 0.0890167 18.9809 0.0712891 14.9253 0.0712891H14.93ZM13.5896 2.76029C13.9871 2.75967 14.4306 2.76029 14.9289 2.76029C18.9148 2.76029 19.3873 2.7746 20.9613 2.84613C22.4169 2.91268 23.2069 3.1559 23.7331 3.36023C24.4298 3.63081 24.9265 3.95426 25.4487 4.47676C25.9712 4.99926 26.2946 5.49688 26.5658 6.19355C26.7702 6.71916 27.0137 7.50913 27.0799 8.96467C27.1515 10.5384 27.167 11.0111 27.167 14.9952C27.167 18.9793 27.1515 19.452 27.0799 21.0257C27.0134 22.4812 26.7702 23.2712 26.5658 23.7968C26.2952 24.4935 25.9712 24.9896 25.4487 25.5117C24.9261 26.0342 24.4301 26.3577 23.7331 26.6283C23.2075 26.8335 22.4169 27.0761 20.9613 27.1427C19.3876 27.2142 18.9148 27.2298 14.9289 27.2298C10.9426 27.2298 10.4702 27.2142 8.89643 27.1427C7.44088 27.0755 6.6509 26.8323 6.12435 26.628C5.42767 26.3574 4.93005 26.0339 4.40754 25.5114C3.88504 24.9889 3.56158 24.4926 3.29038 23.7956C3.08604 23.27 2.84252 22.48 2.77627 21.0245C2.70474 19.4507 2.69043 18.978 2.69043 14.9915C2.69043 11.0049 2.70474 10.5347 2.77627 8.96093C2.84283 7.5054 3.08604 6.71543 3.29038 6.1892C3.56096 5.49253 3.88504 4.99491 4.40754 4.47241C4.93005 3.94991 5.42767 3.62646 6.12435 3.35526C6.65059 3.14999 7.44088 2.9074 8.89643 2.84053C10.2736 2.77833 10.8073 2.75967 13.5896 2.75656V2.76029ZM22.8987 5.24086C21.9097 5.24086 21.1073 6.04233 21.1073 7.03166C21.1073 8.02068 21.9097 8.82309 22.8987 8.82309C23.8878 8.82309 24.6902 8.02068 24.6902 7.03166C24.6902 6.04264 23.8878 5.24023 22.8987 5.24023V5.24086ZM14.932 7.33294C10.6982 7.33294 7.26549 10.7656 7.26549 14.9994C7.26549 19.2332 10.6982 22.6643 14.932 22.6643C19.1659 22.6643 22.5973 19.2332 22.5973 14.9994C22.5973 10.7656 19.1655 7.33294 14.9317 7.33294H14.932ZM14.9269 10.0247C17.675 10.0247 19.9031 12.2525 19.9031 15.0009C19.9031 17.749 17.675 19.9771 14.9269 19.9771C12.1784 19.9771 9.95061 17.749 9.95061 15.0009C9.95061 12.2525 12.1784 10.0247 14.9269 10.0247Z" fill="#1B365D"></path>
                  </svg>
                  <span
                    style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0px !important; overflow: hidden !important; clip: rect(0px, 0px, 0px, 0px) !important; border: 0px !important;"
                    data-acsb-hidden="true"
                  >
                    | New Window</span
                  ></a
                >
              </li>
              <li class="social-item">
                <a
                  href="https://www.tiktok.com/@theskinnyconfidential"
                  class="social-link"
                  target="_blank"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  data-custom-button-processed="true"
                >
                  <svg
                    width="23"
                    height="27"
                    viewBox="0 0 23 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    data-acsb-hidden="true"
                    role="presentation"
                  >
                    <path d="M11.993 0.428711H16.2901C16.2901 0.428711 16.045 6.18903 22.2454 6.61125V11.0597C22.2454 11.0597 18.9289 11.2708 16.2901 9.15966L16.3334 18.3581C16.3333 20.005 15.8662 21.6149 14.9909 22.9841C14.1156 24.3533 12.8717 25.4201 11.4164 26.0497C9.96112 26.6793 8.35996 26.8432 6.81555 26.5208C5.27114 26.1984 3.85289 25.4042 2.74029 24.2385C1.62769 23.0729 0.870749 21.5884 0.565254 19.9727C0.25976 18.3571 0.419446 16.6829 1.0241 15.1622C1.62876 13.6415 2.65121 12.3426 3.96207 11.4297C5.27292 10.5169 6.81325 10.0313 8.38813 10.0343H9.49844V14.6033C8.77399 14.3686 7.99719 14.3787 7.27858 14.6324C6.55997 14.886 5.93617 15.3702 5.49594 16.0161C5.05571 16.6619 4.82149 17.4365 4.8266 18.2296C4.83171 19.0228 5.0759 19.794 5.52441 20.4336C5.97292 21.0732 6.60291 21.5485 7.32472 21.792C8.04654 22.0355 8.8234 22.0347 9.54476 21.7898C10.2661 21.5448 10.8952 21.0682 11.3426 20.4277C11.7899 19.7872 12.0327 19.0155 12.0363 18.2224L11.993 0.428711Z" fill="#1B365D"></path>
                  </svg>
                  <span
                    style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0px !important; overflow: hidden !important; clip: rect(0px, 0px, 0px, 0px) !important; border: 0px !important;"
                    data-acsb-hidden="true"
                  >
                    | New Window</span
                  ></a
                >
              </li>

              <li class="social-item">
                <a
                  href="https://www.youtube.com/@TheSkinnyConfidential"
                  class="social-link"
                  target="_blank"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  data-custom-button-processed="true"
                >
                  <svg
                    width="37"
                    height="26"
                    viewBox="0 0 37 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    data-acsb-hidden="true"
                    role="presentation"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7076 0.810203C34.2843 1.23613 35.526 2.49112 35.9474 4.08484C36.7132 6.97328 36.7132 13 36.7132 13C36.7132 13 36.7132 19.0266 35.9474 21.9152C35.526 23.5089 34.2843 24.7639 32.7076 25.1901C29.8503 25.9639 18.3917 25.9639 18.3917 25.9639C18.3917 25.9639 6.93314 25.9639 4.07563 25.1901C2.49894 24.7639 1.25725 23.5089 0.835857 21.9152C0.0703125 19.0266 0.0703125 13 0.0703125 13C0.0703125 13 0.0703125 6.97328 0.835857 4.08484C1.25725 2.49112 2.49894 1.23613 4.07563 0.810203C6.93314 0.0361328 18.3917 0.0361328 18.3917 0.0361328C18.3917 0.0361328 29.8503 0.0361328 32.7076 0.810203ZM14.9591 7.92718V19.2001L24.1198 13.5639L14.9591 7.92718Z" fill="#1B365D"></path>
                  </svg>
                  <span
                    style="position: absolute !important; width: 1px !important; height: 1px !important; padding: 0px !important; overflow: hidden !important; clip: rect(0px, 0px, 0px, 0px) !important; border: 0px !important;"
                    data-acsb-hidden="true"
                  >
                    | New Window</span
                  ></a
                >
              </li>
            </ul>
            <a
              href="https://www.instagram.com/theskinnyconfidential/"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
            >
              <p class="social-media-address">@theskinnyconfidential</p>
            </a>
          </div>
        </div>
      </div>

      <ul class="footer-menu-content" data-acsb-menu="ul" aria-hidden="true">
        <div class="menu-list">
          <div class="submenu" role="navigation">
            <h6 class="submenu-link" role="heading" aria-level="2">
              Shop
              <span class="icon plus-icon" data-acsb-hidden="true" style="display: none;">
                <svg
                  class="plus"
                  width="11"
                  height="11"
                  viewBox="0 0 11 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.08 6.472V4.456H3.968V0.448H6.128V4.456H10.016V6.472H6.128V10.48H3.968V6.472H0.08Z" fill="#1B365D"></path>
                </svg>
              </span>
              <span class="icon minus-icon" data-acsb-hidden="true" style="display: none;">
                <svg
                  class="minus"
                  width="11"
                  height="3"
                  viewBox="0 0 11 3"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.08 2.984V0.823999H10.256V2.984H0.08Z" fill="#1B365D"></path>
                </svg>
              </span>
            </h6>
            <div class="submenu-list" style="display: flex;">
              <a
                class="subsubmenu-link"
                href="/collections/shop-all"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Shop All</a
              >

              <a
                class="subsubmenu-link"
                href="/collections/live-stream"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Routines</a
              >

              <a
                class="subsubmenu-link"
                href="/collections/tools"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Tools</a
              >

              <a
                class="subsubmenu-link"
                href="/collections/accessories"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Accessories</a
              >
            </div>
          </div>

          <div class="submenu" role="navigation">
            <h6 class="submenu-link" role="heading" aria-level="2">
              Learn
              <span class="icon plus-icon" data-acsb-hidden="true" style="display: none;">
                <svg
                  class="plus"
                  width="11"
                  height="11"
                  viewBox="0 0 11 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.08 6.472V4.456H3.968V0.448H6.128V4.456H10.016V6.472H6.128V10.48H3.968V6.472H0.08Z" fill="#1B365D"></path>
                </svg>
              </span>
              <span class="icon minus-icon" data-acsb-hidden="true" style="display: none;">
                <svg
                  class="minus"
                  width="11"
                  height="3"
                  viewBox="0 0 11 3"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.08 2.984V0.823999H10.256V2.984H0.08Z" fill="#1B365D"></path>
                </svg>
              </span>
            </h6>
            <div class="submenu-list" style="display: flex;">
              <a
                class="subsubmenu-link"
                href="/pages/about"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Our Story</a
              >

              <a
                class="subsubmenu-link"
                href="/pages/frequently-asked-questions"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >FAQs</a
              >

              <a
                class="subsubmenu-link"
                href="https://www.amazon.com/dp/B08YP54B9Z?ref=cm_sw_r_ffobk_cp_ud_dp_TXJJ6B14EVQP3THSDAMV&amp;ref_=cm_sw_r_ffobk_cp_ud_dp_TXJJ6B14EVQP3THSDAMV&amp;social_share=cm_sw_r_ffobk_cp_ud_dp_TXJJ6B14EVQP3THSDAMV&amp;peakEvent=2&amp;dealEvent=0&amp;skipTwisterOG=1&amp;bestFormat=true"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Book</a
              >
            </div>
          </div>

          <div class="submenu" role="navigation">
            <h6 class="submenu-link" role="heading" aria-level="2">
              Support
              <span class="icon plus-icon" data-acsb-hidden="true" style="display: none;">
                <svg
                  class="plus"
                  width="11"
                  height="11"
                  viewBox="0 0 11 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.08 6.472V4.456H3.968V0.448H6.128V4.456H10.016V6.472H6.128V10.48H3.968V6.472H0.08Z" fill="#1B365D"></path>
                </svg>
              </span>
              <span class="icon minus-icon" data-acsb-hidden="true" style="display: none;">
                <svg
                  class="minus"
                  width="11"
                  height="3"
                  viewBox="0 0 11 3"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0.08 2.984V0.823999H10.256V2.984H0.08Z" fill="#1B365D"></path>
                </svg>
              </span>
            </h6>
            <div class="submenu-list" style="display: flex;">
              <a
                class="subsubmenu-link"
                href="/pages/contact-us"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Contact Us</a
              >

              <a
                class="subsubmenu-link"
                href="/account/login?return_url=%2Faccount"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Account Login</a
              >

              <a
                class="subsubmenu-link"
                href="/pages/referrals"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Referrals</a
              >

              <a
                class="subsubmenu-link"
                href="/pages/affiliate"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Affiliates</a
              >

              <a
                class="subsubmenu-link"
                href="/pages/tsc-community"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                >Member Perks</a
              >
            </div>
          </div>
        </div>
      </ul>
    </div>

    <div class="footer-follow-along">
      <div class="follow-along-heading" role="heading" data-acsb-fake-title="true" aria-level="2">Follow along</div>

      <div class="footer-follow-along-content" role="navigation">
        <ul class="follow-along-link-list" data-acsb-menu="ul">
          <li data-acsb-menu="li" data-acsb-menu-root="true">
            <a
              class="follow-along-link"
              href="/blogs/blog"
              data-acsb-overflower="true"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
              data-acsb-menu="a"
              data-acsb-menu-root-link="true"
              data-acsb-tooltip="Use ←/→ to navigate"
              ><span>Blog</span></a
            >
          </li>
          <li data-acsb-menu="li" data-acsb-menu-root="true">
            <a
              class="follow-along-link"
              href="https://www.amazon.com/dp/B08YP54B9Z?ref=cm_sw_r_ffobk_cp_ud_dp_TXJJ6B14EVQP3THSDAMV&amp;ref_=cm_sw_r_ffobk_cp_ud_dp_TXJJ6B14EVQP3THSDAMV&amp;social_share=cm_sw_r_ffobk_cp_ud_dp_TXJJ6B14EVQP3THSDAMV&amp;peakEvent=2&amp;dealEvent=0&amp;skipTwisterOG=1&amp;bestFormat=true"
              data-acsb-overflower="true"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
              data-acsb-menu="a"
              data-acsb-menu-root-link="true"
              ><span>Book</span></a
            >
          </li>
          <li data-acsb-menu="li" data-acsb-menu-root="true">
            <a
              class="follow-along-link"
              href="https://tscpodcast.com/"
              data-acsb-overflower="true"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
              data-acsb-menu="a"
              data-acsb-menu-root-link="true"
              ><span>Podcast</span></a
            >
          </li>
          <li data-acsb-menu="li" data-acsb-menu-root="true">
            <a
              class="follow-along-link"
              href="https://www.youtube.com/channel/UCAzZQUlj_tpj6HPNmEFetqw"
              data-acsb-overflower="true"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
              data-acsb-menu="a"
              data-acsb-menu-root-link="true"
              aria-label="The skinny confidential - youtube | Show"
              ><span>Show</span
              ><span
                class="acsb-sr-only"
                data-acsb-sr-only="true"
                data-acsb-force-visible="true"
                data-acsb-sr-only-position="after"
                data-acsb-hidden="false"
              >
                - YouTube</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
    <br>
  </div>
</footer>
