{{ 'banner.css' | asset_url | stylesheet_tag }}

<div class="hb-banner video_show_right_side_mobile_wrapper">
  <div class="page-width">
    <div class="hb-banner_wrapper">
      <div class="hb-banner_grid--item video_show_right_side video_show_right_side_mobile">
        <div class="hb-banner_alpha">
          <span class="small-hide">
            <div class="hb-banner_image deskop--image" data-acsb-overflower="true">
              <img
                src="//shopskinnyconfidential.com/cdn/shop/files/Container_1_-min.jpg?v=1758291734"
                alt=""
                style="zoom: 1.01223;"
              >
            </div>
          </span>
          <span class="large-up-hide" data-acsb-hidden="true">
            <div class="hb-banner_image mob--image">
              <img
                src="//shopskinnyconfidential.com/cdn/shop/files/mobile-min.jpg?v=1758291921"
                alt=""
                style="zoom: 1;"
              >
            </div>
          </span>
          <div class="hb-banner_contents">
            <h2 class="hb-banner_title" role="heading" aria-level="1">Limited Edition</h2>
            <div class="hb-banner_text">
              <p role="heading" data-acsb-fake-title="true" aria-level="2">
                Introducing Mouth Tape in Blanc and Uniform
              </p>
            </div>
            <a
              href="/products/mouth-tape-uniform"
              class="hb-banner_button cta cta-gig-secondary"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
              aria-label="Mouth tape | Shop now"
              >Shop now</a
            >
          </div>
        </div>

        <div class="hb-banner_beta">
          <span class="small-hide">
            <div class="hb-banner__video" data-acsb-overflower="true">
              <video
                playsinline="true"
                autoplay="autoplay"
                muted="muted"
                loop="loop"
                preload="metadata"
                poster="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
              >
                <source
                  src="//shopskinnyconfidential.com/cdn/shop/videos/c/vp/cd5e1790e79342179995cb770b179604/cd5e1790e79342179995cb770b179604.HD-1080p-2.5Mbps-57840749.mp4?v=0"
                  type="video/mp4"
                  data-acsb-hidden="true"
                >
                <img
                  src="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
                  style="zoom: 1;"
                  data-acsb-hidden="true"
                  aria-hidden="true"
                >
              </video>
            </div>
          </span>
          <span class="large-up-hide" data-acsb-hidden="true">
            <div class="hb-banner__video">
              <video
                playsinline="true"
                autoplay="autoplay"
                muted="muted"
                loop="loop"
                preload="metadata"
                poster="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
              >
                <source
                  src="//shopskinnyconfidential.com/cdn/shop/videos/c/vp/cd5e1790e79342179995cb770b179604/cd5e1790e79342179995cb770b179604.HD-1080p-2.5Mbps-57840749.mp4?v=0"
                  type="video/mp4"
                >
                <img
                  src="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
                  style="zoom: 1;"
                >
              </video>
            </div>
          </span>
          <a
            href=""
            class="hb-banner__product--info"
            data-acsb-clickable="true"
            data-acsb-navigable="true"
            tabindex="-1"
            data-acsb-now-navigable="false"
            data-acsb-hidden="true"
            data-custom-button-processed="true"
            aria-hidden="true"
          >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
