{{ 'banner.css' | asset_url | stylesheet_tag }}

<div class="hb-banner video_show_right_side_mobile_wrapper">
  <div class="container-hero-video mx-auto px-9 md:px-10">
    <div class="hb-banner_wrapper">
      <div class="hb-banner_grid--item video_show_right_side video_show_right_side_mobile flex flex-wrap items-center">
        <div class="hb-banner_alpha w-full md:w-1/2 relative">
          <span class="small-hide hidden md:inline">
            <div
              class="hb-banner_image deskop--image relative aspect-square rounded-tr-3xl rounded-br-3xl overflow-hidden"
              data-acsb-overflower="true"
            >
              <img
                src="//shopskinnyconfidential.com/cdn/shop/files/Container_1_-min.jpg?v=1758291734"
                alt=""
                class="absolute inset-0 w-full h-full object-cover"
                style="zoom: 1.01223;"
              >
            </div>
          </span>
          <span class="large-up-hide inline md:hidden" data-acsb-hidden="true">
            <div class="hb-banner_image mob--image relative aspect-[4/3] rounded-tl-3xl overflow-hidden">
              <img
                src="//shopskinnyconfidential.com/cdn/shop/files/mobile-min.jpg?v=1758291921"
                alt=""
                class="absolute inset-0 w-full h-full object-cover"
                style="zoom: 1;"
              >
            </div>
          </span>
          <div class="hb-banner_contents absolute bottom-0 left-1/2 w-full transform -translate-x-1/2 p-5 pb-8 text-neutral-50 z-10">
            <h2
              class="hb-banner_title font-medium text-4xl md:text-5xl lg:text-6xl xl:text-8xl leading-tight tracking-tight mb-4"
              role="heading"
              aria-level="1"
            >
              Limited Edition
            </h2>
            <div class="hb-banner_text mb-6">
              <p
                role="heading"
                data-acsb-fake-title="true"
                aria-level="2"
                class="font-light md:font-medium text-xl md:text-2xl leading-tight tracking-tight m-0 block md:inline max-w-xs md:max-w-none"
              >
                Introducing Mouth Tape in Blanc and Uniform
              </p>
            </div>
            <a
              href="/products/mouth-tape-uniform"
              class="hb-banner_button cta cta-gig-secondary inline-block font-medium text-base leading-normal tracking-tight text-gray-800 uppercase no-underline bg-neutral-50 rounded-full py-3 px-6 border-none"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              data-acsb-now-navigable="true"
              data-custom-button-processed="true"
              aria-label="Mouth tape | Shop now"
              >Shop now</a
            >
          </div>
        </div>

        <div class="hb-banner_beta w-full md:w-1/2 relative">
          <span class="small-hide hidden md:inline">
            <div
              class="hb-banner__video relative aspect-square rounded-tl-3xl rounded-bl-3xl overflow-hidden"
              data-acsb-overflower="true"
            >
              <video
                playsinline="true"
                autoplay="autoplay"
                muted="muted"
                loop="loop"
                preload="metadata"
                poster="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
                class="absolute inset-0 w-full h-full object-cover"
              >
                <source
                  src="//shopskinnyconfidential.com/cdn/shop/videos/c/vp/cd5e1790e79342179995cb770b179604/cd5e1790e79342179995cb770b179604.HD-1080p-2.5Mbps-57840749.mp4?v=0"
                  type="video/mp4"
                  data-acsb-hidden="true"
                >
                <img
                  src="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
                  style="zoom: 1;"
                  data-acsb-hidden="true"
                  aria-hidden="true"
                  class="absolute inset-0 w-full h-full object-cover"
                >
              </video>
            </div>
          </span>
          <span class="large-up-hide inline md:hidden" data-acsb-hidden="true">
            <div class="hb-banner__video relative aspect-[4/3] rounded-b-2xl top-0 z-10">
              <video
                playsinline="true"
                autoplay="autoplay"
                muted="muted"
                loop="loop"
                preload="metadata"
                poster="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
                class="absolute inset-0 w-full h-full object-cover"
              >
                <source
                  src="//shopskinnyconfidential.com/cdn/shop/videos/c/vp/cd5e1790e79342179995cb770b179604/cd5e1790e79342179995cb770b179604.HD-1080p-2.5Mbps-57840749.mp4?v=0"
                  type="video/mp4"
                >
                <img
                  src="//shopskinnyconfidential.com/cdn/shop/files/preview_images/cd5e1790e79342179995cb770b179604.thumbnail.0000000000_small.jpg?v=1758291621"
                  style="zoom: 1;"
                  class="absolute inset-0 w-full h-full object-cover"
                >
              </video>
            </div>
          </span>
          <a
            href=""
            class="hb-banner__product--info absolute right-8 bottom-10 max-w-sm flex flex-col gap-4 text-gray-800"
            data-acsb-clickable="true"
            data-acsb-navigable="true"
            tabindex="-1"
            data-acsb-now-navigable="false"
            data-acsb-hidden="true"
            data-custom-button-processed="true"
            aria-hidden="true"
          >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
