@media (min-width: 1441px) {
    .container-hero-video {
        max-width: 1440px;
        margin   : 0 auto
    }
}

/* Special classes that cannot be converted to Tailwind */
.hb-banner {
    padding-block   : 0px;
    background-color: #fffdf1
}

.hb-banner__video:after {
    content   : "";
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    background: linear-gradient(180deg, #0000 32.29%, #0000006b 81.64%);
    width     : 100%;
}

.hb-banner__video {
    width   : 100%;
    overflow: hidden;
}

.hb-banner_button {
    font-family: F37 Blanka
}

.hb-banner_button.cta-gig-secondary:before {
    z-index: -1
}

.hb-banner__product--button {
    font-weight   : 500;
    font-size     : 16px;
    line-height   : 100%;
    letter-spacing: -.32px;
    text-align    : center;
    text-transform: uppercase;
    color         : var(--gig-primary);
    font-family   : F37 Blanka
}

.hb-banner__product--Image img {
    object-fit   : contain;
    border-radius: 12.38px
}

.hb-banner_text p {
    font-family: F37 Blanka
}

/* Mobile responsive styles */
@media screen and (max-width:990px) {
    .hb-banner {
        padding-block: 50px
    }

    .hb-banner_grid--item {
        flex-wrap: wrap-reverse
    }

    .hb-banner__video,
    .hb-banner_image {
        padding-bottom: 80%
    }
}

@media screen and (max-width:767px) {
    .hb-banner {
        background-color: #f0e8da;
        padding         : 0
    }

    .hb-banner__product--info {
        display: none
    }

    .hb-banner__video:after {
        background: linear-gradient(184.6deg, #0000 3.72%, #0003 42.19%)
    }

    .hb-banner_button.cta-gig-secondary:before {
        display: none
    }
}

/* Desktop responsive styles */
@media (min-width:750px) {
    .hb-banner_grid--item.video_show_right_side .hb-banner_alpha .hb-banner_image {
        border-radius: 20px 0 0 20px
    }

    .hb-banner_grid--item.video_show_right_side .hb-banner_beta .hb-banner__video {
        border-radius: 0 20px 20px 0/0px 20px 20px 0px
    }

    .hb-banner_grid--item.large-up-hide {
        display: none !important
    }
}

@media (max-width:749px) {
    .hb-banner_grid--item.small-hide {
        display: none !important
    }

    .hb-banner-video-full-video-wrapper .hb-banner__video {
        padding-bottom: 147.294%;
        border-radius : 16px
    }

    .hb-banner.video_show_right_side_mobile_wrapper {
        padding: 0 0 33px
    }

    .hb-banner_grid--item.video_show_right_side_mobile .hb-banner_alpha .hb-banner_image {
        border-radius: 0 0 16px 16px
    }

    .hb-banner_grid--item.video_show_right_side_mobile .hb-banner_beta .hb-banner__video {
        border-radius: 16px 16px 0 0;
        top          : 0
    }
}

.hb-banner_image {
    max-width: 100%;
}