.product-grid-image {
    img:nth-child(2) {
        display: none;
    }

    &:hover {
        img:nth-child(1) {
            display: none;
        }

        img:nth-child(2) {
            display: block;
        }
    }
}

.product-grid-item-content {
    .product-grid-text-wrapper {
        padding: 6px 14px;

        .product-title {
            font-weight: 700 !important;
        }

        .product-grid-description-text {
            font-family: var(--font-monospace) !important;
        }
    }
}

.back-btn {
    display    : inline-flex;
    align-items: center;
    gap        : 8px;
}

.div-child-full {
    &>div {
        width: 100%;
    }
}

.custom-code-text {
    .custom-paragraph {
        margin     : 0 auto;
        text-align : center;
        line-height: 40px;
        color      : var(--color-semibold-primary);
        font-family: var(--font-primary-light);

        img {
            width     : 40px;
            height    : 40px;
            object-fit: cover;
        }

        .inline-images {
            display    : inline-flex;
            gap        : 4px;
            align-items: center;
            position   : relative;
            top        : 8px;
        }
    }
}